Source: polaric-aprsd
Section: java
Priority: optional
Maintainer: Øyvind Hanssen <oh@hans.priv.no>
Uploaders: Øyvind Hanssen <oh@hans.priv.no>
Build-Depends: debhelper-compat (= 13), default-jdk-headless (>= 1.21), maven-debian-helper (>= 2.6), byacc-j, jflex
Standards-Version: 4.5.1
Homepage: http://aprs.no/polaricserver

Package: polaric-aprsd
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${maven:Depends}, adduser, default-jre-headless (>= 1.21) | default-jdk-headless (>= 1.21), libslf4j-java, libjackson2-core-java, libjackson2-databind-java, adduser, sudo, openssl, ssl-cert,
Conflicts: polaric-database-plugin (<< 4.0), polaric-ais-plugin (<< 4.0) 
Recommends:
Suggests: polaric-webapp2 (>= 4.0)
Description: Polaric Server: APRS daemon part. 
 The "Polaric Server" is mainly a web based service to present tracking 
 information (mainly APRS) on maps and where the information is updated at real-
 time. It is originally targeted for use by radio amateurs in voluntary search
 and rescue service in Norway. It consists of a web application and a server 
 program (APRS daemon). It can function as an offline service if required. 
 .
 The APRS daemon gets data from a TNC or APRS-IS or a combination. It can 
 present and manipulate the information through a simple HTTP service
 (REST API and Websockets). The daemon can also be set up as an igate 
 (internet gateway) or APRS-IS server and can be installed independently 
 of the web app. 

