Source: polaric-aprsd
Section: java
Priority: optional
Maintainer: Øyvind Hanssen <oh@hans.priv.no>
Uploaders: Øyvind Hanssen <oh@hans.priv.no>
Build-Depends: debhelper-compat (= 13), default-jdk (>= 1.17), maven-debian-helper (>= 2.6), byacc-j, jflex
Standards-Version: 4.5.1
Homepage: http://aprs.no/polaricserver

Package: polaric-aprsd
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${maven:Depends}, adduser, default-jre-headless (>= 1.17) | default-jdk (>= 1.17), libslf4j-java, libjackson2-core-java, libjackson2-databind-java, adduser, sudo, openssl, ssl-cert,
Conflicts: polaric-database-plugin (<< 3.2), polaric-ais-plugin (<< 3.0) 
Recommends:
Suggests: polaric-webapp2 (>= 3.2.2)
Description: Polaric Server: APRS daemon part. 
 The "Polaric Server" is mainly a web based service to present APRS 
 tracking information on maps and where the information is updated at real-
 time. It is originally targeted for use by radio amateurs in voluntary search
 and rescue service in Norway. It consists of a web application and a server 
 program (APRS daemon). 
 .
 The APRS daemon gets data from a TNC or APRS-IS or a combination. It can 
 present and manipulate the information through a simple HTTP service. 
 The daemon can also be set up as an igate (internet gateway) and can
 be installed independently of the web app. 

