[Unit]
Description=Polaric APRSD - APRS daemon for web-based tracking
Documentation=http://aprs.no/polaricserver https://polaricserver.readthedocs.io
After=network.target

[Service]
Type=simple
User=polaric
Group=polaric
ExecStart=/usr/bin/polaric-aprsd-start
Restart=on-failure
# Give aprsd more time to stop cleanly before systemd kills it.
TimeoutStopSec=60
# Optional: make systemd wait a little before attempting restarts started by its own
RestartSec=10

##################################
# Security hardening options
#################################

# Consider the security implications of the NoNewPrivileges directive
NoNewPrivileges=false

# Isolate temporary directories
PrivateTmp=true

# true: Makes /usr and /boot read-only.
# full: Makes /usr, /boot, and /etc read-only.
# strict: Makes the entire file system read-only for this service.
# false: Full write access (governed only by standard user permissions).
ProtectSystem=strict

# true: Home directories are completely invisible (appears empty/inaccessible).
# read-only: Directories are visible, but the service cannot write to them.
# tmpfs: Creates a temporary, empty mock home directory layout.
# false: Standard access to home directories.
ProtectHome=true

# Punch holes in the sandbox
ReadWritePaths=/var/log/polaric /var/lib/polaric /etc/polaric-aprsd /etc/polaric-webapp2/ssl



# Resource limits
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
