#!/usr/bin/make -f
# -*- makefile -*-

# Include the debhelper sequence (automatically runs dh_* commands)
%:
	dh $@
	

	
override_dh_auto_clean:


override_dh_auto_configure: 


# Override the default build step to invoke Maven
override_dh_auto_build:
	bash build.sh
	

override_dh_auto_test:


override_dh_auto_install:
	install -Dm644 target/polaric-aprsd-*.jar debian/polaric-aprsd/usr/share/java/
